---
import { Image } from "astro:assets";
import { CardClasses } from "./CardClasses/CardClasses.jsx";
import check from "../icons/check.svg";
import bookImage from "../img/books2.avif";
import book from "../icons/book.svg";
import book2 from "../icons/book2.svg";
import star from "../icons/star.svg";
import stars from "../icons/stars.svg";
---

<section
	class="w-full h-full flex flex-col justify-center items-center relative pt-10 md:pt-0 mb-20 text-center"
	id="classes">
	<div class="mb-20">
		<p class="font-semibold">CATEGORIES</p>
		<h2>Online Classes <br /> <strong>For Remote Learning</strong></h2>
	</div>
	<aside class="md:w-[80%] sm:w-full h-full">
		<div class="relative h-full flex">
			<Image
				src={book}
				alt="book"
				class="absolute top-1 right-1 w-10 bg-white rounded-full p-1 border"
			/>
			<CardClasses
				client:visible
				title="A1 is the beginner level"
				description="At this level, students should be able to understand and use basic phrases and sentences. They will be able to communicate in simple ways about familiar topics."
				icon={check.src}
				textLink=""
				bookImg={bookImage.src}
				amount="5%"
				describeOffer="You will have one class per week, and you will also have a free class."
			/>
		</div>
		<div class="relative h-full flex">
			<Image
				src={book2}
				alt="book"
				class="absolute top-1 right-1 w-10 bg-white rounded-full p-1 border"
			/>
			<CardClasses
				client:visible
				title="B1 is the elementary level"
				description="At this level, students should be able to understand and use more complex phrases and sentences. The will be able to communicate in more detail about familiar topics."
				icon={check.src}
				textLink=""
				bookImg={bookImage.src}
				amount="10%"
				describeOffer="You will have two class per week, and you will also have a free class."
			/>
		</div>
		<div class="relative h-full flex">
			<Image
				src={star}
				alt="star"
				class="absolute top-1 right-1 w-10 bg-white rounded-full p-1 border"
			/>
			<CardClasses
				client:visible
				title="B1 is the intermediate level"
				description="At this level, students will be able to understand and use complex phrases and sentences. They will be able to communicate in detail about a variety of topics."
				icon={check.src}
				textLink=""
				bookImg={bookImage.src}
				amount="15%"
				describeOffer="You will have 3 class per week, and you will also have a free class."
			/>
		</div>
		<div class="relative h-full flex">
			<Image
				src={stars}
				alt="stars"
				class="absolute top-1 right-1 w-10 bg-white rounded-full p-1 border"
			/>
			<CardClasses
				client:visible
				title="B2 is the upper intermediate level"
				description="Students at this level can communicate fluently and spontaneously without much effort. They can aslso understand native sppeakers easily and produce clear and detailed writing on a variety of topics."
				icon={check.src}
				textLink=""
				bookImg={bookImage.src}
				amount="20%"
				describeOffer="You will have four class per week, and you will also have a free class."
			/>
		</div>
		<div class="relative h-full flex">
			<Image
				src={stars}
				alt="stars"
				class="absolute top-1 right-1 w-10 bg-white rounded-full p-1 border"
			/>
			<CardClasses
				client:visible
				title="C1 is the advanced level"
				description="Students at this level have complete control over the language and can use it for academic or professional purposes. They can also understand long and complicated texts with ease."
				icon={check.src}
				textLink=""
				bookImg={bookImage.src}
				amount="20%"
				describeOffer="You will have four class per week, and you will also have a free class."
			/>
		</div>
		<div class="relative h-full flex">
			<Image
				src={stars}
				alt="stars"
				class="absolute top-1 right-1 w-10 bg-white rounded-full p-1 border"
			/>
			<CardClasses
				client:visible
				title="Important Tip"
				description="Grammar is an essential part of learning English. It is the foundation  for speaking and understanding. Learners need to know English grammar rules to use the language appropriately."
				icon={check.src}
				textLink=""
				bookImg={bookImage.src}
				amount="20%"
				describeOffer="You will have four class per week, and you will also have a free class."
			/>
		</div>
	</aside>
</section>

<style>
	aside {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
		gap: 2rem;
		flex-wrap: wrap;
	}

	h2 {
		padding: 0;
		font-size: 2.5rem;
		font-weight: 700;
		line-height: 1.75;
	}

	strong {
		color: white;
		border-radius: 1rem;
		padding: 0.5rem;
		line-height: 8rem;
		background: linear-gradient(90deg, #f12711, #ff7b22);
	}
	@media (width < 1250px) {
		section {
			max-width: 96%;
			margin: auto;
		}
		h2 {
			font-size: 1.75rem;
		}
		p {
			font-size: 1rem;
		}
	}
</style>
