---
import { Image } from "astro:assets";
import { CardClasses } from "./CardClasses/CardClasses.jsx";
import check from "../icons/check.svg";
import bookImage from "../img/books2.avif";
import book from "../icons/book.svg";
import book2 from "../icons/book2.svg";
import star from "../icons/star.svg";
import stars from "../icons/stars.svg";
---

<section
	class="w-full h-full flex flex-col justify-center items-center relative mb-20 text-center"
	id="classes">
	<div class="mb-20">
		<p class="font-semibold">CATEGORIES</p>
		<h2>Online Classes <br /> <strong>For Remote Learning</strong></h2>
	</div>
	<aside class="md:w-[80%] sm:w-full h-full gap-1">
		<div class="relative h-full flex">
			<Image src={book} alt="book" class="absolute top-3 right-3 w-8" />
			<CardClasses
				client:visible
				title="Beginner"
				description="Welcome to our Beginner English class! In this course, you'll dive into the basics of the language, from the alphabet to everyday phrases. You'll learn how to introduce yourself, talk about your family, and navigate daily situations. This course lays the foundation for your journey towards fluency."
				icon={check.src}
				textLink="1 Class per week"
				bookImg={bookImage.src}
				amount="5%"
				describeOffer="You will have one class per week, and you will also have a free class."
			/>
		</div>
		<div class="relative h-full flex">
			<Image src={book2} alt="book" class="absolute top-3 right-3 w-8" />
			<CardClasses
				client:visible
				title="Intermediate"
				description="In our Intermediate class, you'll delve deeper into grammar and expand your vocabulary. We'll focus on constructing more complex conversations, discussing current topics, and understanding common idiomatic expressions. Get ready to enhance your listening comprehension and communication skills in more challenging situations."
				icon={check.src}
				textLink="2 Classes per week"
				bookImg={bookImage.src}
				amount="10%"
				describeOffer="You will have two class per week, and you will also have a free class."
			/>
		</div>
		<div class="relative h-full flex">
			<Image src={star} alt="star" class="absolute top-3 right-3 w-8" />
			<CardClasses
				client:visible
				title="Professional"
				description="The Professional English class is tailored for those aiming to master the language in a professional setting. You'll learn to compose business emails, participate in meetings, and deliver reports effectively. We'll also concentrate on industry-specific language, preparing you for success in the workplace."
				icon={check.src}
				textLink="3 Classes per week"
				bookImg={bookImage.src}
				amount="15%"
				describeOffer="You will have 3 class per week, and you will also have a free class."
			/>
		</div>
		<div class="relative h-full flex">
			<Image src={stars} alt="stars" class="absolute top-3 right-3 w-8" />
			<CardClasses
				client:visible
				title="Expert"
				description="Congratulations, English expert! This class will challenge you with advanced readings, sophisticated debates, and in-depth analyses of literary texts. You'll refine your pronunciation, perfect your grammar, and explore the cultural richness of the English language. You're about to achieve a level of fluency that will open doors to limitless opportunities."
				icon={check.src}
				textLink="4 Classes per week"
				bookImg={bookImage.src}
				amount="20%"
				describeOffer="You will have four class per week, and you will also have a free class."
			/>
		</div>
	</aside>
</section>

<style>
	aside {
		display: grid;
		place-items: center;
		grid-template-columns: repeat(auto-fit, minmax(225px, 2fr));
		gap: 1rem;
		flex-wrap: wrap;
	}

	h2 {
		padding: 0;
		font-size: 2.5rem;
		font-weight: 700;
		line-height: 1.75;
	}

	strong {
		background: linear-gradient(-45deg in oklch, #f07030, blue);
		border-radius: 1rem;
		padding: 0.5rem;
		color: white;
	}
	@media (width < 1250px) {
		section {
			max-width: 96%;
			margin: auto;
		}
		h2 {
			font-size: 1.75rem;
		}
	}
</style>
